<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test file</title>

</head>
<body>
    <form method="post" action="/checkedin">
        <select name="persons" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select><br>
        <input name="text" type="text" id="test-text">
        <label for="date">Birthday (date):</label>
        <input name="date" type="date" id="date"/>
        <label for="time">Birthday (time):</label>
        <input name="time" type="time" id="time"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>