<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test file</title>

</head>
<body>
    <form method="post" action="/checkedin">
        <select name="person-id" id="cars">
            {% for person in people -%}
            <option value="{{person[0]}}">{{person[1]}}</option>
            {% endfor %}
        </select><br/>
        <label for="date">Check-in date:</label><br/>
        <input name="date" type="date" id="date"/><br/>
        <label for="time">Check-in time:</label><br/>
        <input name="time" type="time" id="time"/><br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>